@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	background: var(--background);
	color: var(--foreground);
}

.font-bree {
	font-family: var(--font-bree-serif);
}

.font-alice {
	font-family: var(--font-alice);
}

.font-railey {
	font-family: var(--font-railey);
}

.ant-form-item .ant-form-item-label > label.ant-form-item-required::before {
	content: '' !important;
	display: none !important;
}

.ant-modal-content {
	border-radius: 12px !important;
}
